<div class="container">
  <h2>Add Template</h2>
  <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" formControlName="title" id="title" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.title?.errors }"/>
      <div *ngIf="submitted && f.title?.errors" class="invalid-feedback">
        <div *ngIf="f.title?.errors.required">Title is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" formControlName="type" id="type" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.type?.errors }"/>
      <div *ngIf="submitted && f.type?.errors" class="invalid-feedback">
        <div *ngIf="f.type  ?.errors.required">Type is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" formControlName="description" id="description" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.description?.errors }"/>
      <div *ngIf="submitted && f.description?.errors" class="invalid-feedback">
        <div *ngIf="f.description?.errors.required">Description is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="context">Context</label>
      <ckeditor formControlName="context" id="context" [editor]="context" aria-placeholder="create your template" (ready)="onReady($event)"></ckeditor>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Create
      </button>
      <a routerLink="/home" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
